<style type="text/css">
	.col-sm-12.col-md-4{
		margin: 2%;
		width: 10%;
		overflow: hidden;
	    word-wrap: break-word;
	    background-color: #fff;
	    background-clip: border-box;
	    border: 1px solid rgba(0,0,0,.125);
	    border-radius: .25rem;
	    -ms-flex: 0 0 29.333333%;
	     flex: 0 0 29.333333%;
	    max-width: 29.333333%;
	   -webkit-transition: transform 0.5s linear;
        -moz-transition: transform 0.5s linear;
        transition: transform 0.5s linear;
	}
	
	.col-sm-12.col-md-4:hover{
		  -webkit-transform: scale(1.02);
            -moz-transform: scale(1.02);
            transform: scale(1.02);
	}
	
</style>
<!--主题-->
<div class="jumbotron text-center">
	<h1 class="display-3">{{title}}</h1>
	<p class="lead">大家好欢迎来到课程管理系统</p>
	<a href="/ideas/add" class="btn btn-dark btn-lg">添加新课程</a>	
</div>
<!--滚动条-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/image/1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/image/2.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/image/3.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!--card-->
<div class="row">
	
	<div class="col-sm-12 col-md-4" style="width: 18rem;">
  <img class="card-img-top" src="/image/x1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">音乐</h5>
    <p class="card-text">来自中央美术学院的渣渣鹏老师带您走向音乐的殿堂！</p>
    <a href="#" class="btn btn-primary">去学习</a>
  </div>
</div>
<div class="col-sm-12 col-md-4" style="width: 18rem;">
  <img class="card-img-top" src="/image/5.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">算法设计</h5>
    <p class="card-text">来自中央美术学院的渣渣鹏老师带您走向算法设计的殿堂！</p>
    <a href="#" class="btn btn-primary">去学习</a>
  </div>
</div>
<div class="col-sm-12 col-md-4" style="width: 18rem;">
  <img class="card-img-top" src="/image/6.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">饮食文化</h5>
    <p class="card-text">来自中央美术学院的渣渣鹏老师带您走向饮食文化的殿堂！</p>
    <a href="#" class="btn btn-primary">去学习</a>
  </div>
</div>
<div class="col-sm-12 col-md-4" style="width: 18rem;">
  <img class="card-img-top" src="/image/x2.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">大学生职业生涯规划</h5>
    <p class="card-text">来自中央美术学院的渣渣鹏老师带您走向饮食文化的殿堂！</p>
    <a href="#" class="btn btn-primary">去学习</a>
  </div>
</div>
<div class="col-sm-12 col-md-4" style="width: 18rem;">
  <img class="card-img-top" src="/image/x4.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">创新思维</h5>
    <p class="card-text">来自中央美术学院的渣渣鹏老师带您走向创新思维的殿堂！</p>
    <a href="#" class="btn btn-primary">去学习</a>
  </div>
</div>
<div class="col-sm-12 col-md-4" style="width: 18rem;">
  <img class="card-img-top" src="/image/x5.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">统计学</h5>
    <p class="card-text">来自中央美术学院的渣渣鹏老师带您走向统计学的殿堂！</p>
    <a href="#" class="btn btn-primary">去学习</a>
  </div>
</div>
</div>
<!--底部导航条-->
