<style scoped type="text/css">
	.col-sm-12.col-md-4{
		margin: 2%;
		width: 10%;
		overflow: hidden;
	    word-wrap: break-word;
	    background-color: #fff;
	    background-clip: border-box;
	    border: 1px solid rgba(0,0,0,.125);
	    border-radius: .25rem;
	    -ms-flex: 0 0 29.333333%;
	     flex: 0 0 29.333333%;
	    max-width: 29.333333%;
	   -webkit-transition: transform 0.5s linear;
        -moz-transition: transform 0.5s linear;
        transition: transform 0.5s linear;
	}
	
	.col-sm-12.col-md-4:hover{
		  -webkit-transform: scale(1.02);
            -moz-transform: scale(1.02);
            transform: scale(1.02);
	}
	
</style>

<div class="card card-body">
	<h3>课堂笔记</h3>
	<form action="/ideas" method="post">
		<div class="form-group">
			<lable for="title">标题</lable>
			<!--前端的判断，增加required表示不可为空-->
			<input type="text" name="title"  class="form-control" value="{{title}}"/>
		</div>
		<div class="form-group">
			<lable for="details">详情</lable>
			<textarea name="details" class="form-control" >{{details}}</textarea>
		</div>
		<button type="submit" class="btn btn-primary">提交</button>
	</form>
</div>
<br /><br />
<!--card-->
<div class="row">
	
	<div class="col-sm-12 col-md-4" style="width: 18rem;">
  <img class="card-img-top" src="/image/x1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">音乐</h5>
    <p class="card-text">来自中央美术学院的渣渣鹏老师带您走向音乐的殿堂！</p>
    <a href="https://mooc1.chaoxing.com/course/200698717.html" class="btn btn-primary">去学习</a>
  </div>
</div>
<div class="col-sm-12 col-md-4" style="width: 18rem;">
  <img class="card-img-top" src="/image/5.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">算法设计</h5>
    <p class="card-text">来自中央美术学院的渣渣鹏老师带您走向算法设计的殿堂！</p>
    <a href="https://mooc1.chaoxing.com/course/200698717.html" class="btn btn-primary">去学习</a>
  </div>
</div>
<div class="col-sm-12 col-md-4" style="width: 18rem;">
  <img class="card-img-top" src="/image/6.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">饮食文化</h5>
    <p class="card-text">来自中央美术学院的渣渣鹏老师带您走向饮食文化的殿堂！</p>
    <a href="https://mooc1.chaoxing.com/course/200698717.html" class="btn btn-primary">去学习</a>
  </div>
</div>
<div class="col-sm-12 col-md-4" style="width: 18rem;">
  <img class="card-img-top" src="/image/x2.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">大学生职业生涯规划</h5>
    <p class="card-text">来自中央美术学院的渣渣鹏老师带您走向饮食文化的殿堂！</p>
    <a href="https://mooc1.chaoxing.com/course/200698717.html" class="btn btn-primary">去学习</a>
  </div>
</div>
<div class="col-sm-12 col-md-4" style="width: 18rem;">
  <img class="card-img-top" src="/image/x4.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">创新思维</h5>
    <p class="card-text">来自中央美术学院的渣渣鹏老师带您走向创新思维的殿堂！</p>
    <a href="https://mooc1.chaoxing.com/course/200698717.html" class="btn btn-primary">去学习</a>
  </div>
</div>
<div class="col-sm-12 col-md-4" style="width: 18rem;">
  <img class="card-img-top" src="/image/x5.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">统计学</h5>
    <p class="card-text">来自中央美术学院的渣渣鹏老师带您走向统计学的殿堂！</p>
    <a href="https://www.baidu.com/" class="btn btn-primary">去学习</a>
  </div>
</div>
</div>